@import "../../Assets/variables.scss";

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 2vw 8vw 2vw 8vw;
    justify-content: space-between;
    background-color: $white;
    box-shadow: $purpleShadow;
    transition: 1s;
    z-index: 10;
    height: 13vh;
    .menuIcon {
        cursor: pointer;
        color: $black;
        width: 20px;
    }
}
.burgerMenuList {
    display: contents;
    position: fixed;
    overflow-x: hidden;
    text-decoration: none;
    transition: 1.5s ease;
    z-index: 1;
    width: 100vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #f6eee0;
    // justify-content: space-around;
    color: $pink;
    background-color: rgba($color: white, $alpha: 1) ;
        ul{
            display: flex;
            flex-direction: column;
            padding: 5vh;
            height: 70%;
            width: 80%;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;
            border-bottom: 2px solid $pink;

            h2{
                cursor: pointer;
                transition: 0.3s;
                font-weight: 800;

                &:hover{
                    color: $purple;
                }
            }
            button{
                background-color: transparent;
                border-radius: 50px;
                padding: 1vw;
                color: $pink;
                border: 3px solid $pink;
                width: 150px;
                transition: 0.3s;
                cursor: pointer;
                font-weight: 900;


                &:hover {
                    color: white;
                    background-color: $pink;
                }
            }
        }
        .navFooter{
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            p{
                font-size: 12px;
                padding-left: 10px;
                cursor: pointer;
                &:hover{
                    color: $purple;
                }
            }
            .soonContainer{
                display: flex;
                flex-direction: column;
                div{
                    display: flex;
                    flex-direction: row;
                }
                padding: 2vw;
                img{
                    padding: 2vw;
                }
            }
            .navInfo{
                display: flex;
                flex-direction: row;
            }
        }
    
}
.icons{
    padding-left: 10px;

    font-size: 40px;
    color: white;
    background-color: $pink;
    border-radius: 50px;
    padding: 1vw;
    margin: 1vw;
    cursor: pointer;
    &:hover{
        background-color: $purple;
    }
}